.plus {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}
.Edit {
    cursor: pointer;
}
.Trash {
    cursor: pointer;
}

/* loading spinner */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Toast position */
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
}
